__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/
build/
dist/
*.egg-info/

/dataset/*
/tests/
/output/
/cache/
/tmp/
/.scratch/

*.pt
*.pth
*.ckpt
*.log

.idea/
.vscode/
.DS_Store
Thumbs.db
